@model ProductDetailsModel.ProductPriceModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext

<div class="prices" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
    <div class="product-price">
        <span itemprop="price" content="@Model.Price" class="price-value-35">
            @Model.Price
        </span>
    </div>
    <meta itemprop="priceCurrency" content="@Model.CurrencyCode">
</div>