@model SocialModel
<ul class="social-sharing">
    @if (!string.IsNullOrEmpty(Model.TwitterLink))
    {
        <li><a class="twitter" href="@Model.TwitterLink" target="_blank"></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.FacebookLink))
    {
        <li><a class="facebook" href="@Model.FacebookLink" target="_blank"></a></li>
    }
    @if (!string.IsNullOrEmpty(Model.YoutubeLink))
    {
        <li><a class="youtube" href="@Model.YoutubeLink" target="_blank"></a></li>
    }
    @if (Model.NewsEnabled)
    {
        <li><a class="rss" href="@Url.RouteUrl("NewsRSS", new { languageId = Model.WorkingLanguageId })"></a></li>
    }
</ul>