@model BlogPostListModel

<div class="rich-blog-homepage">
    <div class="title">
        <strong>Latest From Blog</strong>
    </div>
    <div class="blog-posts">
        @foreach (var item in Model.BlogPosts)
        {
            <div class="blog-post">
                <div class="post-primary">
                    <a class="post-picture" href="/@item.SeName">
                        <img src="" alt="@item.Title" title="Having fun on the road">
                    </a>
                    <!--span class="post-date">
                        <span class="day">item.CreatedOn.Day</span>
                        <span class="month">item.CreatedOn.Month</span>
                        <span class="year">item.CreatedOn.Year</span>
                    </span-->
                    <a class="read-more" href="/@item.SeName">Read More</a>
                </div>
                <div class="post-details">
                    <a class="post-title" href="/having-fun-on-the-road">@item.Title</a>
                    <div class="post-description">
                        <p>Lorem ipsum dolor sit amet, splendide adolescens dissentias te sea, in quo dicant verear regione...</p>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="view-all">
        <a href="/blog">View All Blog Posts</a>
    </div>
</div>
